 

 <!DOCTYPE html>
 <html>
     <head>
          <%- include('../partials/head.ejs') %>
     </head> 
        <body>
              <div class="topper"></div> 
              <div class="header">
                  <div><p class="home">Home</p> </div>   
                 <h1>Buddha TV</h1>   
                 <div>  
                    <p class="signup">Subscribe</p>   
                 </div>
              </div> 
                <div class="frontview">
                      <p class="pure">Discover the Power</p> 
                      <p class="colored">Healing the enlightenment and Abundance Healing the enlightenment and Abundance </p> 
                      <p class="tiny">Healing the enlightenment and Abundance Healing the enlightenment and Abundance </p> 
                 <div style="display:flex; margin-top:30px;"> 
                    <button class="explore">Watch ></button> 
                    <button class="sub">Subscribe</button>
                 </div>  
               </div>    


           <div class="overview"> 
                
            <div> <img src="/images/buddhab.jfif"> <button>subscribe</button>  </div>
            <div>   <img src="/images/buddhac.jfif"> <button>subscribe</button> </div>
            <div>   <img src="/images/buddhad.jfif"> <button>subscribe</button> </div>
            <div>   <img src="/images/buddhae.jfif"> <button>subscribe</button>  </div> 
            <div>   <img src="/images/buddhag.jfif"> <button>subscribe</button>  </div>
            <div>   <img src="/images/buddhah.jfif"> <button>subscribe</button>  </div>
            <div>   <img src="/images/buddhai.jfif"> <button>subscribe</button>  </div>
            <div>   <img src="/images/buddhaj.jfif"> <button>subscribe</button>  </div>
            <div>   <img src="/images/buddhak.jfif"> <button>subscribe</button>  </div>
       </div>  

       <div class="enclose"> 

       <div class="ovb"> 
          <h1>Anywhere , Anytime</h1>     
          <div> <img src="/images/buddhaf.png"> </div>       
       </div>   
             
       <div class="ovc">  
        <div>  
             <p>Monthly</p> 
             <button>Subscribe $8.88/mo </button> 
             <p style="font-size:15px;">Charged once per month. Cancel anytime.</p>  
        </div>       
     </div>   
  

        <div class="footer"> 
              <div><p>Help</p> </div>  
            <div>    <p>Contact</p>  </div> 
            <div>   <p>Subscribe</p>  </div>  
        </div> 
 
       </div>

        </body>
 </html>